<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    {{!-- <input type="text" name="full"><input type="number" name="age"> --}}
    <input type="text" class="form-control" id="" name="q" aria-describedby="emailHelp" placeholder="Enter search ...">
  </div>
    
  <button type="submit" class="btn btn-primary">Search</button>
</form>